@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
  }

 html {
    background: hsl(185, 75%, 39%);
 } 

 body {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 main {
    background: #fff;
    max-width: 416px;
    border-radius: 1rem;
    z-index: 1;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);

 }

 .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 100%;
 }
 
#pattern {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 100%;
 }

 #ppic {
    width: 30%;
    position: relative;
    bottom: 55px;
    border-radius: 50px;
    border: 5px solid #fff;
 }


 #bgt {
    position: fixed;
    bottom: 25rem;
    right: 50%;
 }
 
 #bgb {
    position: fixed;
    top: 30rem;
    left: 43%;
    width: 85rem;
 } 

 hr {
    width: 100%;
    float: left;
    margin-top: 25px;
    border-color: rgba(138, 130, 130, 0.185);
 }

 h1 {
    font-weight: 700;
    font-size: 18px;
    margin-top: -40px;
 }

 span {
    margin-top: 10px;
    font-weight: 400;
   font-weight: 700;
 }

 .statistics {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 1rem;
}

.followers,
.likes,
.photos {
   min-width: 6rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 1.1rem;
}

p {
   color: hsl(0, 0%, 59%);
   font-size: 0.9rem;
   margin-top: 5px;
}

.bold {
   color: hsl(0, 0%, 59%);
   font-weight: 400;
}

 @media screen and (max-width: 650px) {
   #bgt {
      right: 34%;
      top: -40rem;
   }

   #bgb {
      left: 45%;
      top: 22rem;
      width: 40rem;
   }
 }